<div class="bio">
<h1>BIO</h1>
	<div class="row">
		<div class="large-4 small-8 columns">
			<div class="panel">
				<p>Od majhnih nog sem krasil odre, na katerih sem čutil, da sta trema in kontrola mase moj placebo endorfina, beseda moja katarza in oder moje platno svobodnih barv. Hip hop je vse to sprejemal in dovolil, da sem to kar sem in zaradi pozornosti mi ni potrebno prilagajanje, če sem sprejet širše ker sem kar sem. Biti svoboden. Z besedami risati čustva, misli, domišljijo. Biti na odru jaz, tak kot sem.</p>
			</div>
		</div>
		<div class="large-8 small-4 columns bio_first">
			<%= image_tag 'bio_first.png', class: 'bio_first1' %>
			<%= image_tag 'bio_first2.png', class: 'bio_first2' %>
		</div>
	</div>
	<div class="row">	
		<div class="large-3 columns bio_second">
			<%= image_tag 'bio_second.png', class: 'bio_second1' %>
			<%= image_tag 'bio_second2.png', class: 'bio_second2' %>
		</div>				
		<div class="large-9 small-12 columns">
			<div class="panel">
				<p><strong>Prvič mi je bilo 2006.</strong>, na rap koncertu v MCP-ju (SAM100G, 7INK, LADY B). Bila je potrditev. To je to, kar bi rad, to je način, ki bo ustrezal. Svojo poezijo sem počasi pretvarjal v rap besedila, dobil na samozavesti in eksperimentiral. Istega leta sem posnel svoj prvi feat. s  		<strong>100Ass-om</strong>, danes znanim pod imenom <strong>STOTKA</strong> v domačem studiu, <strong>studiu Armagedon</strong>, doma pri MC As-u, v katerem se je formirala prva postava <strong>Armagedon tim</strong>-a. Kot občasen gost studia, sem dobil potrditve in podporo članov, s katerimi sem posnel komad z naslovom <strong>A ga čutš (2007)</strong>. Počasi je stvar postala jasna in moj elan me ob reformaciji skupine je pripeljal do članstva (2008).</p>
			</div>
		</div>
	</div>
	</div>
	<div class="row">
		<div class="large-4 columns">
			<div class="panel">
				<p>V dveh norih letih smo preselili studio v druge prostore (bivša diskoteka Tango), naredili kup materiala, imeli kup nastopov, posneli prvi studijski posnetek (<strong>Radio 94</strong>) in dali skozi marsikaj, a zaradi nesoglasij in različnih interesov in pogledov na rap glasbo se je zasedba skrčila in sčasoma odvrgla sidro nekje okoli bermudskega trikotnika. Z imenom smo še vedno vztrajali in obstali na treh članih, kateri smo počasi tudi odplavali vsak s svojim tokom. Kljub vsemu, je bil to moj prvi timski razvoj, prva pripadnost, prva ekipa. Zame osebno so to nepozabni trenutki, nepozabni ljudje in predvsem nepozabne izkušnje ("...to u srcu nosm, ush devet je notr, ko pridm gor na odr")</p>
			</div>
		</div>
		<div class="large-4 columns">
			<div class="panel">
				<p>2009-2010 sem živel v Ljubljani, kjer sem s trebuhom za kruhom dobil službo in se preselil v stanovanje skupaj z <strong>MC Edotom</strong> in <strong>STOTKO</strong>. 2010 sem sodeloval pri komadu, ki ga je <strong>Markan</strong> posnel za projekt Ostou bom dol za svoje, ki je moj rap dvignil na naslednji nivo. Sodelovanje me je postavilo na svoje mesto in od takrat pišem svoj rap "proper". Velik vpliv mi je bil tudi <strong>MC Edo</strong>, ki mi je odprl pogled na rap čisto v drugačni luči. Človek s katerim sem največkrat nastopal in obiskoval koncerte in katerega sem najdlje poslušal freestylat in se nisem naveličal</p>
			</div>
		</div>
		<div class="large-4 columns">
			<div class="panel">
				<p>Zaradi zdravstvenih težav sem se bil primoran preseliti nazaj v domači kraj. Kar niti ni bilo napak. V letu v ljubljani sem spoznal veliko za življenje pomembnih otenkov vsakdana. Seveda sem se priključil v studio, ki je bil tokrat v uradno najetem prostoru in posnel kar nekaj materiala, ki je večinoma ostal spravljen za nove ideje. Nastopal sem še vedno, z istim tempom, spoznaval artiste in se spoprijateljil z mnogimi</p>
			</div>
			<div class="bio_third">
				<%= image_tag 'bio_third.png'  %>
				<%= image_tag 'bio_third2.png', class: 'bio_third2' %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<div class="panel">
				<p>2010-2012 sem nastopal po različnih koncih slovenije, večinoma z MC Edotom in STOTKO (kot Armagedon tim) in se tokom dogodkov razvil v samostojnega artista in organizatorja dogodkov. <strong>Organiziral</strong> sem  več rap koncertov po Postojnskih lokalih, pomagal pri organizaciji, sodeloval ali pa nastopal pri skoraj vsakem <strong>hip hop dogodku</strong> (od 2010 dalje) v Postojni, z željo po razvoju hip hopa in da prikažem Postojni rap v dobri luči. Začel sem delati na solo projektih in objavil nekaj demo komadov.  2012 sem zasnoval projekt, ki naj bi bil moj prvi zaključen izdelek, tudi v fizični obliki. Spoprijateljil sem se in začel sodelovati tako studijsko kot tudi na odru z <strong>Izičem</strong> - Izidor Čegrlja. Beatmaker in raper iz Cerknice, je s svojim pristopom in pridihom west coast produkcij pustil name vtis, ki sva ga nadgradila v sodelovanje, ki bo v bodoče zaključen v daljšo celoto</p>
			</div>
		</div>
		<div class="large-12 columns">
			<div class="panel">
				<p><strong>Decembra 2012</strong> sem držal svoj prvi <strong>plošček</strong> v roki. Kratek a jedrnat projekt, me je pahnil v smer, kamor sem vedno želel zaiti. <strong>LoOPzILLa</strong> - Denis Trnolšek je beatmaker zaradi katerega je projekt sploh nastal. Z veliko volje, truda in aspekta, je nadgradil svoj beatmaking do levela, ki ga producenti ne dosegajo več. Lotila sva se sodelovanja, ki se je obneslo in obrodilo prvi rap plošček s postojnskega. LoOPzILLa pa je razlog za moj tekstovni in predvsem tehnični <strong>napredek</strong></p>
			</div>
		</div>
	</div>
</div>